.categories {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 2em;
}
button {
  background: lightblue;
  border: none;
  margin: 0px 10px;
  padding: 1.2em;
  text-transform: capitalize;
  color: #fff;
  font-size: 1rem;

  &:hover {
    cursor: pointer;
    background: darken($color: #fff, $amount: 20);
  }
  &.active {
    background: darken($color: #fff, $amount: 20);
  }
}
